<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ml-pipeline template</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Ml-Pipeline Framework</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="https://zamaniali1995.github.io/">Ali's Contact</a></li>
                <li><a href="https://www.linkedin.com/in/jacob-mish-25915722a/">Jacob's Contact</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="jumbotron">
    <div class="container text-center">
        <h1 class="text-center">Ml-Pipeline Template</h1>
        <p class="text-center">Iris Dataset </p>
        <hr />
        <form action="/go" method="get">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Sepal length in cm</label>
              <div class="col-sm-3">
                <input type="text" class="form-control-plaintext text-center" name="sepal_len" placeholder="Sepal length" value="2">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Sepal width in cm</label>
              <div class="col-sm-3">
                <input type="text" class="form-control-plaintext text-center"  value="3" name="sepal_wid">
              </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Petal length in cm</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control-plaintext text-center"  value="3" name="petal_len">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Petal width in cm</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control-plaintext text-center"  value="3" name="petal_wid">
                </div>
            </div>
            <div class="col-lg-offset-0">
                <button type="submit" class="btn btn-lg btn-success">Classify</button>
            </div>
        </form>

        {% block message %}
        {% endblock %}
    </div>
</div>
</body>
</html>
